html, body, div, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: Courier New, monospace;
}

#top {
  margin: 0px;
  border: 0px;
  padding: 50px;
  height: 50px;
  text-align: center;
  background-color: 25232e;
  color: white;
}

#bot {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#botleft {
  float: left;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#botright {
  margin: 0px;
  border: 0px;
  padding: 0px;
  margin-left: 256px;
}

ul, li {
  list-style: none;
padding: 0 0 0 10px;
margin: 0 0 8px 0;
}

a {
  color: #19bdbf;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}
